.user-container{
    width: 100%;
    height: 100%;
}
.top-card {
  background-color: lightblue;
  width: 100%;
  height: 80%;
  min-height: 15rem;
  padding: 2rem;
  
}
.main-card {
  background-color: navy;
  width: 100%;
  height: 20%;
}
.main-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-card li {
  color: white;
  padding: 0.5rem;
}

.main-image img {
  width: 50px;
  border-radius: 50%;
}
