.user-container{
    width: 100%;
    min-width: 12rem;
    height: 100%;
}
.top-card {
  background-color: rgba(74,183,255,255);
  width: 100%;
  /* height: 100%; */
  height: auto;
  min-height: 14rem;
  padding: 1rem;
  
}
.main-card {
  background-color: rgba(8,46,121,255);
  width: 100%;
  height: 20%;
  min-height: 8rem;
}
.main-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-card li {
  color: white;
  padding: 0.5rem;
  cursor: pointer; 
}

.main-image img {
  width: 50px;
  border-radius: 50%;
}

.content{
  margin-top: 1rem;
}
.content h6{
  margin-bottom: 1rem;
}
.content h6{
  color: white;
}
.content h2{
  color: white;
  margin: 0;
}

@media screen and (max-width:940px){
  .user-container{
    margin-bottom: 6rem;
    position: relative;
  }
  .top-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    position: relative;
    z-index: 2000;
  }
  .main-image img {
    width:10rem;
    border-radius: 50%;
  }
  .content h6 {
    font-size: 1.5rem;
  }
  .content.name{
    display: flex;
  }
  .main-card{
    position: absolute;
    top: 12rem;
  }
  .main-card ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-card ul li{
    font-size: 2rem;
    margin-top: 1rem;
  }
}





