.timeFrame-container{
    
    width: 30%;
    min-width: 12rem;
}

.top-card{
    background-color: rgba(255,189,49,255);
    height: 5rem;
    position: relative;
}
.top-card img{
    width: 50px;
    position: absolute;
    top: 0;
    right: 1rem;
    
}

.main-card{
    background-color: rgba(12,41,111,255);   
    margin-top: -2.5rem;
    z-index: 3000;
    position: absolute;
    top: 4.6rem;
    left: 0rem;
    width: 100%;
}
.main-card ul{
    padding: 0;
    margin: 0;
}
.main-card li{
    list-style: none;
}


.first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-row h1,h2{
    color: white;
    font-weight: bolder;
}
.first-row h3,p{
    color: white;
}
.first-row p{
    font: bold;
}
.second-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.second-row h1,h2{
    color: white;
    font-weight: bolder;
}

.third-row{
    width: 100%;
}
.third-row small{
    font-size: 12px;
}

@media screen and (max-width:940px){
    .timeFrame-container{
        position: relative;   
        width: 90%;
        padding-bottom: 8rem;
    }
    .first-row h3{
        font-size: 2rem;
        font-weight: bold;
    }  
}
